.nav__link {
  text-decoration: none;
  font-weight: 800;
  width: 100%;
  color: #000000;
  display: inline-block;
  padding: 0.5rem;
  margin: 0 0.3rem;
}

.nav__link:hover,
.nav__link:focus {
  color: #ee003c;
}
