.btn--quiz {
  padding: 0.7rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  border: none;
  margin: 0.2rem 0;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  background-color: #bec6cc;
  color: #000000;
  width: 100%;
}

.btn--quiz:disabled {
  cursor: default;
  color: #5f5f5f;
}

.btn--answered {
  margin: 0.2rem;
  padding: 0.7rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  background-color: #ee003c;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.btn--answered:disabled {
  cursor: default;
  color: #5f5f5f;
}

.btn--answered-right:disabled {
  cursor: default;
  color: #b9b9b9;
}

.btn--answered-right {
  margin: 0.2rem;
  padding: 0.7rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  background-color: #0c7c58;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.btn--right {
  background-color: #0c7c58;
}

.btn--right:hover {
  background-color: #0b6448;
}

.btn--quiz:hover {
  background-color: #9ca2a7;
}
