.contact {
  margin: 4rem 0;
}

.contact__info,
.contact__title {
  text-align: center;
}

.contact__img {
  width: 100%;
}

.contact__mail,
.contact__phone {
  font-weight: 600;
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 0.5rem 0;
}

@media screen and (min-width: 600px) {
  .contact__text {
    margin: 0;
    padding: 0 1.5rem;
    text-align: left;
  }

  .contact__mail,
  .contact__phone {
    padding: 0.5rem 1.5rem;
    text-align: left;
  }

  .container--contact {
    display: flex;
  }

  .column--contact {
    flex: 0 0 50%;
  }
}
