.contact {
  margin: 4rem 0;
}

.contact__img {
  width: 100%;
}

.contact__mail,
.contact__phone {
  font-weight: 600;
}

@media screen and (min-width: 600px) {
  .contact__text {
    margin: 0;
    padding: 0 1.5rem;
    text-align: left;
  }

  .contact__mail,
  .contact__phone {
    padding: 0 1.5rem;
    text-align: left;
  }
}
