.container {
  display: flex;
  align-items: center;
  font-weight: 800;
}

.header {
  position: relative;
}

@media screen and (min-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
}
